# Build.
tests/build
target/
**/*.rs.bk
*.a
*.o
*.so
**/generated
Cargo.lock
Cargo.enclave.lock
Xargo.toml
node_modules/

# Enclave compilation
Enclave_t.c
Enclave_t.h

# IDE.
.idea/*
*.iml

# Temporary files.
*.swp

# Log files from E2E tests.
*.log
truffle.txt

# Node mess.
node_modules
package-lock.json

