# Mac things
.DS_Store

# Build.
tests/build
**/*.rs.bk
*.a
*.o
*.so
**/generated
node_modules/

# Enclave compilation
Enclave_t.c
Enclave_t.h

# IDE.
.idea/*
*.iml

# Temporary files.
*.swp

# Log files from E2E tests.
*.log
truffle.txt

# Node mess.
node_modules
package-lock.json

# The ekiden-node binary that is present
# during local dev and testing.
ekiden-node

# A directory that is typically mounted on
# a docker container so that we can set
# CARGO_INSTALL_ROOT and save time
# by allowing 'cargo install' to reuse
# binaries that it installed in a previous
# run in a different docker container.
cargo_install_root/

# A directory created by scrpits/test-rpc.sh
# that is useful to keep around to speed up
# local dev and testing.
tests/rpc-tests/
tests/e2e-tests/

# Ekiden E2E test scripts.
.e2e

# Ekiden binary symlinks or downloads.
.ekiden

# Coverage report from Tarpaulin
cobertura.xml

# in case credentials are put in the repo for using
# inside the docker container
.git-credentials
