[package]
name = "web3-gateway"
version = "0.1.0"
license = "GPL-3.0"
authors = ["Oasis Labs Inc. <info@oasislabs.com>", "Parity Technologies <admin@parity.io>"]

[dependencies]
log = "0.4"
env_logger = "0.4"
rustc-hex = "1.0"
parking_lot = "0.5"
rayon = "1.0"
regex = "0.2"
toml = "0.4"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
futures = "0.1"
fdlimit = "0.1"
ctrlc = { git = "https://github.com/paritytech/rust-ctrlc.git" }
jsonrpc-core = { git = "https://github.com/paritytech/jsonrpc.git", branch = "parity-1.11" }
jsonrpc-http-server = { git = "https://github.com/paritytech/jsonrpc.git", branch = "parity-1.11" }
jsonrpc-ws-server = { git = "https://github.com/paritytech/jsonrpc.git", branch = "parity-1.11" }
jsonrpc-ipc-server = { git = "https://github.com/paritytech/jsonrpc.git", branch = "parity-1.11" }
jsonrpc-macros = { git = "https://github.com/paritytech/jsonrpc.git", branch = "parity-1.11" }
jsonrpc-pubsub = { git = "https://github.com/paritytech/jsonrpc.git", branch = "parity-1.11" }
lazy_static = "1.0.1"
wasmi = { git = "https://github.com/oasislabs/wasmi.git", branch = "ekiden" }
ethcore = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12", features = ["gateway"] }
ethcore-bytes = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }
ethcore-transaction = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }
ethereum-types = { git = "https://github.com/oasislabs/primitives", branch = "ekiden" }
rlp = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }
rlp_compress = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }
parity-machine = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }
parity-reactor = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }
parity-rpc = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }
path = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }
keccak-hash = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }
kvdb = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }
journaldb = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }
mem = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }
evm = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }
common-types = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }
vm = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }
util-error = { git = "https://github.com/oasislabs/parity", tag = "v1.12.0-ekiden12" }

## Common functionality between runtime and gateway
runtime-ethereum-common = { path = "../common" }

## Ekiden client dependencies
clap = "2.29.1"
client-utils = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-common = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-contract-client = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-core = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-db-trusted = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-di = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-instrumentation = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-rpc-client = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-storage-base = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-tracing = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-keymanager-common = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-enclave-common = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ethereum-api = { path = "../api" }
rand = "0.4"

[build-dependencies]
rustc_version = "0.2"

[dev-dependencies]
ekiden-grpcio = { version = "0.3.2", features = ["openssl"] }
ekiden-registry-client = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-roothash-client = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-scheduler-client = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-storage-dummy = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-storage-frontend = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
hex = "0.3"

[patch.crates-io]
ring = { git = "https://github.com/oasislabs/ring", branch = "0.12.1-ekiden" }

# temporary fix for incompatibility between jsonrpc-ipc-server parity-1.11 branch and parity-tokio-ipc
[patch."https://github.com/paritytech/jsonrpc.git"]
jsonrpc-core = { git = "https://github.com/oasislabs/jsonrpc.git", branch = "parity-1.11-ekiden" }
jsonrpc-http-server = { git = "https://github.com/oasislabs/jsonrpc.git", branch = "parity-1.11-ekiden" }
jsonrpc-ws-server = { git = "https://github.com/oasislabs/jsonrpc.git", branch = "parity-1.11-ekiden" }
jsonrpc-ipc-server = { git = "https://github.com/oasislabs/jsonrpc.git", branch = "parity-1.11-ekiden" }
jsonrpc-macros = { git = "https://github.com/oasislabs/jsonrpc.git", branch = "parity-1.11-ekiden" }
jsonrpc-pubsub = { git = "https://github.com/oasislabs/jsonrpc.git", branch = "parity-1.11-ekiden" }

[features]
default = ["confidential", "pubsub", "read_state"]
pubsub = ["read_state"]
confidential = []
read_state = []

[[bin]]
name = "gateway"
path ="bin/main.rs"
