[package]
name = "web3-gateway"
version = "0.1.0"
license = "GPL-3.0"
authors = ["Oasis Labs Inc. <info@oasislabs.com>", "Parity Technologies <admin@parity.io>"]

[dependencies]
log = "0.4"
parking_lot = "0.5"
rayon = "1.0"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
futures = "0.1"
fdlimit = "0.1"
ctrlc = { git = "https://github.com/paritytech/rust-ctrlc.git" }
jsonrpc-core = { git = "https://github.com/paritytech/jsonrpc.git", branch = "parity-1.11" }
jsonrpc-http-server = { git = "https://github.com/paritytech/jsonrpc.git", branch = "parity-1.11" }
jsonrpc-ws-server = { git = "https://github.com/paritytech/jsonrpc.git", branch = "parity-1.11" }
jsonrpc-macros = { git = "https://github.com/paritytech/jsonrpc.git", branch = "parity-1.11" }
jsonrpc-pubsub = { git = "https://github.com/paritytech/jsonrpc.git", branch = "parity-1.11" }
lazy_static = "1.0.1"
wasmi = { git = "https://github.com/oasislabs/wasmi.git", branch = "ekiden" }
ethcore = { git = "https://github.com/oasislabs/parity", branch = "ekiden"}
ethcore-bytes = { git = "https://github.com/oasislabs/parity", branch = "ekiden"}
ethcore-transaction = { git = "https://github.com/oasislabs/parity", branch = "ekiden"}
ethereum-types = { git = "https://github.com/oasislabs/primitives", branch = "ekiden" }
rlp = { git = "https://github.com/oasislabs/parity", branch = "master"}
rlp_compress = { git = "https://github.com/oasislabs/parity", branch = "ekiden"}
parity-reactor = { git = "https://github.com/oasislabs/parity", branch = "ekiden"}
parity-rpc = { git = "https://github.com/oasislabs/parity", branch = "ekiden"}
keccak-hash = { git = "https://github.com/oasislabs/parity", branch = "ekiden"}
kvdb = { git = "https://github.com/oasislabs/parity", branch = "ekiden"}
mem = { git = "https://github.com/oasislabs/parity", branch = "ekiden"}
common-types = { git = "https://github.com/oasislabs/parity", branch = "ekiden"}

## Common functionality between runtime and gateway
runtime-ethereum-common = { path = "../common" }

## Ekiden client dependencies
clap = "2.29.1"
client-utils = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-common = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-runtime-client = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-core = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-db-trusted = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-instrumentation = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-storage-base = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-tracing = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-keymanager-client = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-keymanager-common = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-enclave-common = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ethereum-api = { path = "../api" }
rand = "0.4"

[build-dependencies]
rustc_version = "0.2"

[dev-dependencies]
grpcio = { version = "~0.4.2", features = ["openssl"] }
ekiden-storage-dummy = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
hex = "0.3"

[features]
default = ["pubsub"]
pubsub = []
production-genesis = []

[[bin]]
name = "gateway"
path ="bin/main.rs"
