[package]
name = "genesis"
version = "0.1.0"
authors = ["Oasis Labs Inc. <info@oasislabs.com>"]

[dependencies]
clap = "2.29.1"
ethereum-types = { git = "https://github.com/oasislabs/primitives", branch = "ekiden" }
filebuffer = "0.4.0"
hex = "0.3.1"
log = "0.4"
pretty_env_logger = "0.2"
rlp = { git = "https://github.com/oasislabs/parity", branch = "ekiden" }
ethcore = { git = "https://github.com/oasislabs/parity", branch = "ekiden" }
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"

ekiden-runtime-client = { git = "https://github.com/oasislabs/ekiden", branch = "jberci/feature/move-rust-client-utils" }
ekiden-storage-base = { git = "https://github.com/oasislabs/ekiden", branch = "jberci/feature/move-rust-client-utils" }
ekiden-storage-batch = { git = "https://github.com/oasislabs/ekiden", branch = "jberci/feature/move-rust-client-utils" }
ekiden-storage-client = { git = "https://github.com/oasislabs/ekiden", branch = "jberci/feature/move-rust-client-utils" }
ekiden-core = { git = "https://github.com/oasislabs/ekiden", branch = "jberci/feature/move-rust-client-utils" }
ekiden-db-trusted = { git = "https://github.com/oasislabs/ekiden", branch = "jberci/feature/move-rust-client-utils" }
ekiden-roothash-base = { git = "https://github.com/oasislabs/ekiden", branch = "jberci/feature/move-rust-client-utils" }
ekiden-tracing = { git = "https://github.com/oasislabs/ekiden", branch = "jberci/feature/move-rust-client-utils" }

runtime-ethereum-common = { path = "../common" }
