[package]
name = "genesis"
version = "0.1.0"
authors = ["Oasis Labs Inc. <info@oasislabs.com>"]

[dependencies]
clap = "2.29.1"
ethereum-types = { git = "https://github.com/oasislabs/primitives", branch = "ekiden" }
filebuffer = "0.4.0"
futures = "0.1.18"
hex = "0.3.1"
log = "0.4"
pretty_env_logger = "0.2"
rlp = { git = "https://github.com/oasislabs/parity", branch = "ekiden" }
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"

client-utils = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-contract-client = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-core = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-rpc-client = { git = "https://github.com/oasislabs/ekiden", branch = "master" }
ekiden-tracing = { git = "https://github.com/oasislabs/ekiden", branch = "master" }

ethereum-api = { path = "../api" }
