[package]
name = "runtime-ethereum-common"
version = "0.1.0"
authors = ["Oasis Labs Inc. <info@oasislabs.com>"]

[dependencies]
ekiden-core = { git = "https://github.com/oasislabs/ekiden", branch = "jberci/feature/move-rust-client-utils" }
ekiden-keymanager-client = { git = "https://github.com/oasislabs/ekiden", branch = "jberci/feature/move-rust-client-utils" }
ekiden-keymanager-common = { git = "https://github.com/oasislabs/ekiden", branch = "jberci/feature/move-rust-client-utils" }
ekiden-storage-base = { git = "https://github.com/oasislabs/ekiden", branch = "jberci/feature/move-rust-client-utils" }
ekiden-storage-lru = { git = "https://github.com/oasislabs/ekiden", branch = "jberci/feature/move-rust-client-utils" }
ekiden-trusted = { git = "https://github.com/oasislabs/ekiden", branch = "jberci/feature/move-rust-client-utils" }
elastic-array = "0.10"
ethcore = { git = "https://github.com/oasislabs/parity", branch = "ekiden" }
ethereum-types = { git = "https://github.com/oasislabs/primitives", branch = "ekiden" }
hashdb = { git = "https://github.com/oasislabs/parity", branch = "ekiden" }
keccak-hash = { git = "https://github.com/oasislabs/parity", branch = "ekiden" }
lazy_static = { version = "1.1.0", features = ["spin_no_std"] }
sodalite = "0.3.0"

[dev-dependencies]
ekiden-storage-dummy = { git = "https://github.com/oasislabs/ekiden", branch = "jberci/feature/move-rust-client-utils" }

[features]
test = []
